* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

ul {
  margin-bottom: 0;
}

html, body {
  height: 100%;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px 0;
  -webkit-app-region: drag;
}

#header .logo {
  top: 0;
  padding: 5px 10px 0 10px;
  font-size: 26px;
  background: linear-gradient(135deg, #fcff00, #a900ff);
  color: #fff;
}

#header .window-btn-group {
  display: flex;
}

#header .window-btn-group li {
  padding: 5px 14px;
  -webkit-app-region: no-drag;
}

#header .window-btn-group li span {
  padding: 0 4px;
  color: #555555;
  font-size: 20px;
  filter: contrast(0.9);
}

#header .window-btn-group li:nth-child(1):hover, #header .window-btn-group li:nth-child(2):hover {
  background-color: #e9e9e9;
}

#header .window-btn-group li:nth-child(3):hover {
  background-color: #ff2f2f;
}

#header .window-btn-group li:nth-child(3):hover span {
  color: #fff;
}

#container #nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

#container #nav .back-go-btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 130px;
}

#container #nav .back-go-btn-group span {
  font-size: 20px;
}

#container #nav .catalogue {
  flex-grow: 1;
  margin: 0 10px;
}

#container #nav .search {
  width: 300px;
}

#container #content {
  display: flex;
  min-height: 700px;
}

#container #content #aside {
  flex-shrink: 0;
  width: 180px;
  border-right: 1px solid #e3e3e3;
}

#container #content #main {
  padding: 20px 0 0 10px;
  width: 100%;
}

#container #content #main .show-content {
  width: 100%;
}

#container #content #main .show-content .type-title {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
}

#container #content #main .show-content .type-title:hover {
  background-color: #d8eaf9;
}

#container #content #main .show-content .type-title:active {
  background-color: #cce8ff;
  border: 1px solid #99d1ff;
}

#container #content #main .show-content .type-title .type-name {
  flex-shrink: 0;
  padding: 0 10px 0 0;
  color: #1e3287;
  font-size: 16px;
}

#container #content #main .show-content .type-title .line {
  width: 100%;
  height: 1px;
  background-color: #c3c3c3;
}

#container #content #main .show-content .directory {
  display: flex;
  flex-wrap: wrap;
}

#container #content #main .show-content .directory .box {
  margin: 2px;
  width: 250px;
  border: 1px solid transparent;
}

#container #content #main .show-content .directory .box:hover {
  background-color: #d8eaf9;
}

#container #content #main .show-content .directory .box:active {
  background-color: #cce8ff;
  border: 1px solid #99d1ff;
}

#container #content #main .show-content .directory .box img {
  width: 50px;
  height: 50px;
}

#container #content #main .show-content .disk {
  display: flex;
  flex-wrap: wrap;
}

#container #content #main .show-content .disk .box {
  display: flex;
  padding: 0 4px;
  margin: 2px;
  width: 250px;
  border: 1px solid transparent;
}

#container #content #main .show-content .disk .box:hover {
  background-color: #d8eaf9;
}

#container #content #main .show-content .disk .box:active {
  background-color: #cce8ff;
  border: 1px solid #99d1ff;
}

#container #content #main .show-content .disk .box img {
  width: 50px;
  height: 50px;
}

#container #content #main .show-content .disk .box .disk-info {
  flex-grow: 1;
  padding: 0 0 0 4px;
}

#container #content #main .show-content .disk .box .disk-info .disk-ram-bar {
  position: relative;
  width: 100%;
  height: 16px;
  background-color: #e6e6e6;
  border: 1px solid #bcbcbc;
}

#container #content #main .show-content .disk .box .disk-info .disk-ram-bar .bar-content {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  width: 10%;
  height: 100%;
  background-color: #26a0da;
}

#container #content #main .show-content .disk .box .disk-info .disk-ram-text {
  color: #6d6d6d;
}

#container #content #main .show-content .table {
  table-layout: fixed;
  width: 99.9%;
}

#container #content #main .show-content .table .thead tr {
  border: 2px solid transparent;
}

#container #content #main .show-content .table .thead .th {
  color: #4c607a;
  font-size: 14px;
  font-weight: 400;
  border-left: 1px solid #e5e5e5;
  border-bottom: none;
}

#container #content #main .show-content .table .thead .th:hover {
  background-color: #d9ebf9;
}

#container #content #main .show-content .table .tbody .item {
  border: 1px solid transparent;
}

#container #content #main .show-content .table .tbody .item:hover {
  background-color: #e5f3ff;
}

#container #content #main .show-content .table .tbody .item:active {
  background-color: #cce8ff;
  border: 1px solid #99d1ff;
}

#container #content #main .show-content .table .tbody .item .name {
  width: 20px;
  height: 20px;
  font-size: 14px;
}

#container #content #main .show-content .table .tbody .item .update-date {
  color: #6d6d6d;
  font-size: 14px;
}

#container #content #main .show-content .table .tbody .item .type {
  color: #6d6d6d;
  font-size: 14px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #999999;
}
