* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

ul {
  margin-bottom: 0;
}

html, body {
  height: 100%;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px 0;
  -webkit-app-region: drag;
}

#header .logo {
  top: 0;
  padding: 5px 10px 0 10px;
  font-size: 26px;
  background: linear-gradient(135deg, #fcff00, #a900ff);
  color: #fff;
}

#header .window-btn-group {
  display: flex;
}

#header .window-btn-group li {
  padding: 5px 14px;
  -webkit-app-region: no-drag;
}

#header .window-btn-group li span {
  padding: 0 4px;
  color: #555555;
  font-size: 20px;
  filter: contrast(0.9);
}

#header .window-btn-group li:nth-child(1):hover, #header .window-btn-group li:nth-child(2):hover {
  background-color: #e9e9e9;
}

#header .window-btn-group li:nth-child(3):hover {
  background-color: #ff2f2f;
}

#header .window-btn-group li:nth-child(3):hover span {
  color: #fff;
}

#container #nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

#container #nav .back-go-btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 130px;
}

#container #nav .back-go-btn-group span {
  font-size: 20px;
}

#container #nav .catalogue {
  flex-grow: 1;
  margin: 0 10px;
}

#container #nav .search {
  width: 300px;
}

#container #content {
  display: flex;
  min-height: 700px;
}

#container #content #aside {
  flex-shrink: 0;
  width: 180px;
  border-right: 1px solid #e3e3e3;
}

#container #content #main {
  padding: 20px 10px;
}

#container #content #main .show-content .directory {
  display: flex;
  flex-wrap: wrap;
}

#container #content #main .show-content .directory .box {
  margin: 2px;
  width: 250px;
  border: 1px solid transparent;
}

#container #content #main .show-content .directory .box:hover {
  background-color: #d8eaf9;
}

#container #content #main .show-content .directory .box:active {
  background-color: #cce8ff;
  border: 1px solid #99d1ff;
}

#container #content #main .show-content .directory .box img {
  width: 50px;
  height: 50px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #999999;
}
